<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#native">Native App Development</a>
        <a href="#hybrid">Hybrid App Development</a>
    </div>

<span onclick="openNav()">&#9776;</span>
<script src="/javascript/side-nav.js"></script>