<header>
    <img src="/images/books.png" width=10%>
    <h1>MyBooks</h1>
</header>

<nav>
    <a class="active" href="/">Home</a>

    <div class="dropdown">
        <button class="dropbtn">Videos</button>
        <div class="dropdown-content">
            <a target="_blank" href="/videos/vid-programming">Programming</a>
            <a target="_blank" href="/videos/vid-core-cs">CS Core Subjects</a>
            <a target="_blank" href="/videos/vid-web-dev">Web Development</a>
            <a target="_blank" href="/videos/vid-app-dev">App Development</a>
            <a target="_blank" href="/videos/vid-data-science">Data Science</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Books</button>
        <div class="dropdown-content">
            <a target="_blank" href="/books/books-programming">Programming</a>
            <a target="_blank" href="/books/books-core-cs">CS Core Subjects</a>
            <a target="_blank" href="/books/books-web-dev">Web Development</a>
            <a target="_blank" href="/books/books-app-dev">App Development</a>
            <a target="_blank" href="/books/books-data-science">Data Science</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Tutorials</button>
        <div class="dropdown-content">
            <a target="_blank" href="/tutorials/tut-programming">Programming</a>
            <a target="_blank" href="/tutorials/tut-core-cs">CS Core Subjects</a>
            <a target="_blank" href="/tutorials/tut-web-dev">Web Development</a>
            <a target="_blank" href="/tutorials/tut-app-dev">App Development</a>
            <a target="_blank" href="/tutorials/tut-data-science">Data Science</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Courses</button>
        <div class="dropdown-content">
            <a target="_blank" href="/courses/courses-programming">Programming</a>
            <a target="_blank" href="/courses/courses-core-cs">CS Core Subjects</a>
            <a target="_blank" href="/courses/courses-web-dev">Web Development</a>
            <a target="_blank" href="/courses/courses-app-dev">App Development</a>
            <a target="_blank" href="/courses/courses-data-science">Data Science</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Practice</button>
        <div class="dropdown-content">
            <a target="_blank" href="/practice/practice-programming">Programming</a>
            <a target="_blank" href="/practice/practice-core-cs">CS Core Subjects</a>
            <a target="_blank" href="/practice/practice-web-dev">Web Development</a>
            <a target="_blank" href="/practice/practice-app-dev">App Development</a>
            <a target="_blank" href="/practice/practice-data-science">Data Science</a>
        </div>
    </div>

    <a href="/donate">Donate</a>
    <a href="/auth/login">Login/Signup</a>

    <input type="text" placeholder="Search...">
</nav>