<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#c">C</a>
    <a href="#c++">C++</a>
    <a href="#java">Java</a>
    <a href="#python">Python</a>
</div>

<span onclick="openNav()">&#9776;</span>
<script src="/javascript/side-nav.js"></script>