<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lighthouse | Home</title>
    <link rel="icon" type="image/png" href="/images/books.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    {{> header }}

    <main>
        <section>
            <h2>Videos</h2>
            <iframe src="https://youtube.com/embed/videoseries?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" frameborder="2"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLLYz8uHU480j37APNXBdPz7YzAi4XlQUF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </section>

        <section>
            <h2>Books</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.amazon.in/Let-Us-Authentic-PROGRAMMING-Language-dp-9389845688/dp/9389845688/ref=dp_ob_image_bk"><img
                                src="https://images-na.ssl-images-amazon.com/images/I/41a4CcXfN4L._SX348_BO1,204,203,200_.jpg"
                                width="100%" height="500px"></a>
                    </div>
                    <div class="small-container">
                        Let us C by Yashavant Kanetkar
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.amazon.in/Head-First-Java-Kathy-Sierra/dp/0596009208?tag=hackr0df-21&geniuslink=true"><img
                                src="https://images-na.ssl-images-amazon.com/images/I/51aHYpRqWvL._SX430_BO1,204,203,200_.jpg"
                                width="100%" height="500px"></a>
                    </div>
                    <div class="small-container">
                        'Head First Java' by Kathy Sierra & Bert Bates
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Tutorials</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/c-programming-language/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: C Programming Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.tutorialspoint.com/java/index.htm"><img
                                src="https://www.tutorialspoint.com/java/images/java_programming.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Tutorialspoint: Learn Java Programming
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/python-programming"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Learn Python Programming
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Courses</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.educative.io/courses/learn-cpp-from-scratch?affiliate_id=5073518643380224"><img
                                src="https://miro.medium.com/max/700/1*RuanpjZVa-SK9I6ZNbh3zQ.png" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Educative: Learn C++ from Scratch
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Practice</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.hackerrank.com/domains/c"><img
                                src="https://user-images.githubusercontent.com/1194257/65596422-1cef2080-df97-11e9-9abb-a225204d1805.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Hackerrank: Practice C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/output-of-c-program-set-1/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Learn C++
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/java-programming/examples"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Java examples
                    </div>
                </div>
            </div>
        </section>

        <div class="dev-section">

            <div class="dev-heading">
                <h2>Meet the Developers</h2>
            </div>

            <div class="row">

                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/shubham.jpeg" alt="Avatar" class="avatar-image">
                        </div>
                        <div class="card-bottom">
                            Shubham
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/ayush.jpg" alt="Avatar" class="avatar-image">
                        </div>
                        <div class="card-bottom">
                            Ayush Khare
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/priyanshu.jpeg" alt="Avatar" class="avatar-image">
                        </div>
                        <div class="card-bottom">
                            Priyanshu Barua
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>

    {{> footer }}
</body>

</html>