<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials | Programming</title>
    <link rel="icon" type="image/png" href="/images/books.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#c">C</a>
        <a href="#c++">C++</a>
        <a href="#java">Java</a>
        <a href="#python">Python</a>
    </div>

    <span onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    {{> header }}

    <main>
        <section id="c">
            <h2>C</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.tutorialspoint.com/cprogramming/index.htm"><img
                                src="https://www.tutorialspoint.com/cprogramming/images/c-programming.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Tutorialspoint: Learn C Programming
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/c-programming-language/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: C Programming Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/c-programming"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Learn C Programming
                    </div>
                </div>
            </div>
        </section>

        <section id="c++">
            <h2>C++</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/c-plus-plus/?ref=shm/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/titleShadow-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: C++ Programming Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.tutorialspoint.com/cplusplus/index.htm"><img
                                src="https://www.tutorialspoint.com/cplusplus/images/cplusplus.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Tutorialspoint: Learn C++ Programming
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/cpp-programming"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Learn C++ Programming
                    </div>
                </div>
            </div>
        </section>

        <section id="java">
            <h2>Java</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/java/?ref=shm"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Java-768x256.png" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Java Programming Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.tutorialspoint.com/java/index.htm"><img
                                src="https://www.tutorialspoint.com/java/images/java_programming.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Tutorialspoint: Learn Java Programming
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/java-programming"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Learn Java Programming
                    </div>
                </div>
            </div>
        </section>

        <section id="python">
            <h2>Python</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.geeksforgeeks.org/python-programming-language/?ref=shm"><img
                                src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200711122552/Python-Programming-Language.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Python Programming Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.tutorialspoint.com/python/index.htm"><img
                                src="https://www.tutorialspoint.com/python/images/python.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Tutorialspoint: Learn Python Programming
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/python-programming"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Learn Python Programming
                    </div>
                </div>
            </div>
        </section>

    </main>

    {{> footer }}
</body>

</html>