<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            LOGIN PAGE
        </div>

        <form id="login-form" name="loginform">
            <div class="field">
                <input id="login-email" name="Mail" placeholder="Email Address" type="email" required>
            </div>

            <div class="field">
                <input id="login-passwd" name="Passwd" placeholder="Password" type="password" required>
            </div>

            <div class="field">
                <input id="login-btn" class="login" type="submit" value="Login">
                <input class="forgot" type="submit" value="Forgot Password">
            </div>

            <div class="signup-link">
                Not a member? <a href="/auth/signup">Signup now</a>
            </div>
        </form>
    </div>
    <script src="/javascript/login.js"></script>
</body>

</html>