<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            SIGNUP PAGE
        </div>

        <form id="signup-form" name="signupform">            
            <div id="name" class="field">
                <input id="signup-name" name="Name" placeholder="Name" type="text" required>
            </div>

            <div id="email" class="field">
                <input id="signup-email" name="Mail" placeholder="Email Address" type="email" required>
            </div>

            <div id="pass" class="field">
                <input id="signup-passwd" name="Passwd" placeholder="Password" type="password" required>
            </div>

            <div class="field">
                <input id="signup-btn" class="login" type="submit" value="SignUp">
            </div>

            <div class="signup-link">
                Already a member? <a href="/auth/login">Login Here</a>
            </div>
        </form>
    </div>
    <script src="/javascript/signup.js"></script>
</body>

</html>