<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos | Core CS Subjects</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/books.png">
</head>

<body>
    
    {{> coreCsSideNav }}
    {{> header }}

    <main>
        <section id="dsa">
            <h2>Data Structure and Algorithms</h2>
            <iframe src="https://youtube.com/embed/videoseries?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" frameborder="2"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLe_7x5eaUqtWp9fvsxhC4XIkoR3n5A-sF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="os">
            <h2>Operating Systems</h2>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLLYz8uHU480j37APNXBdPz7YzAi4XlQUF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/vLnPwxZdW4Y" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="dbms">
            <h2>Database Management Systems</h2>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/hBh_CC5y8-s" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/grEKMHGYyns" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </section>

        <section id="cn">
            <h2>Computer Network</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="cc">
            <h2>Cloud Computing</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="toc">
            <h2>Theory of Computation</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="cd">
            <h2>Compiler Design</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="coa">
            <h2>Computer Organizaion and Architecture</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="sd">
            <h2>System Design</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

    </main>

    {{> footer }}
</body>

</html>