<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos | App Development</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/books.png">
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#native">Native App Development</a>
        <a href="#hybrid">Hybrid App Development</a>
    </div>

    <span onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    {{> header }}

    <main>
        <section id="native">
            <h2>Native App Development</h2>
            <iframe src="https://youtube.com/embed/videoseries?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" frameborder="2"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLe_7x5eaUqtWp9fvsxhC4XIkoR3n5A-sF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="hybrid">
            <h2>Hybrid App Development</h2>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLLYz8uHU480j37APNXBdPz7YzAi4XlQUF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/vLnPwxZdW4Y" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

    </main>

    {{> footer }}
</body>

</html>