<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos | Programming</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/books.png">
</head>

<body>

    {{> programmingSideNav }}
    {{> header }}

    <main>
        <section id="c">
            <h2>C</h2>
            <iframe src="https://youtube.com/embed/videoseries?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" frameborder="2"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLe_7x5eaUqtWp9fvsxhC4XIkoR3n5A-sF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="c++">
            <h2>C++</h2>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLLYz8uHU480j37APNXBdPz7YzAi4XlQUF"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/vLnPwxZdW4Y" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <section id="java">
            <h2>Java</h2>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/hBh_CC5y8-s" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/grEKMHGYyns" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </section>

        <section id="python">
            <h2>Python</h2>
            <iframe src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="2" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j"
                frameborder="2" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

    </main>

    {{> footer }}
</body>

</html>