<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice | Web Development</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/books.png">
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#html">HTML</a>
        <a href="#css">CSS</a>
        <a href="#js">Javascript</a>
        <a href="#bs">Bootstrap</a>
        <a href="#jq">jQuery</a>
        <a href="#ax">AJAX</a>
        <a href="#dj">Django</a>
        <a href="#node">Node.js</a>
        <a href="#exp">Express.js</a>
        <a href="#react">React.js</a>
        <a href="#php">PHP</a>
        <a href="#ang">Angular</a>
        <a href="#vue">Vue</a>
    </div>

    <span onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    {{> header }}

    <main>
        <section id="html">
            <h2>HTML</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="css">
            <h2>CSS</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="js">
            <h2>JavaScript</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="bs">
            <h2>Bootstrap</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="jq">
            <h2>jQuery</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="ax">
            <h2>AJAX</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="dj">
            <h2>Django</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="node">
            <h2>Node.js</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="exp">
            <h2>Express.js</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="react">
            <h2>React.js</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="php">
            <h2>PHP</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="ang">
            <h2>Angular</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

        <section id="vue">
            <h2>Vue</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.udemy.com/course/c-programming-for-beginners-/"><img
                                src="https://img-a.udemycdn.com/course/240x135/1467808_f8c0.jpg?-OPjjs6VRwFAIomjNOb410dZi3YE72Dh94gUX6Ya-Oeuh9aLaCASCZVhXP1ETHW_Ua4xcBQXJOKDTpZHE-isvsHr8N8Fo0_KEFlqV8LCA3AZa_B3clUkdMurD90"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming For Beginners - Master the C Language
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.coursera.org/specializations/c-programming?ranMID=40328&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&siteID=JVFxdTr9V80-rKlXQ6ZcE_N0B6I1k8lOSQ&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=JVFxdTr9V80"><img
                                src="https://miro.medium.com/max/1772/0*a7E4vT2MSdGWvc09.jpeg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Coursera: Introduction to Programming in C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank"
                            href="https://www.udemy.com/course/c-programming-for-beginners-programming-in-c/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-REE5l1d886HDKb89v8JZTQ&utm_source=aff-campaign&LSNPUBID=JVFxdTr9V80&utm_medium=udemyads"><img
                                src="https://miro.medium.com/max/700/0*O-FmtHmZmbzU0qtH.jpg" width="100%"
                                height="300px"></a>
                    </div>
                    <div class="small-container">
                        Udemy: C Programming 2021 - C Programming for College Students
                    </div>
                </div>
            </div>
        </section>

    </main>

    {{> footer }}
</body>

</html>