<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice | Programming</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/books.png">
</head>

<body>

    {{> programmingSideNav }}
    {{> header }}

    <main>
        <section id="c">
            <h2>C</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.hackerrank.com/domains/c"><img
                                src="https://user-images.githubusercontent.com/1194257/65596422-1cef2080-df97-11e9-9abb-a225204d1805.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Hackerrank: Practice C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/output-of-a-program-set-1/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Learn C
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/c-programming/examples"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: C Examples
                    </div>
                </div>
            </div>
        </section>

        <section id="c++">
            <h2>C++</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.hackerrank.com/domains/cpp"><img
                                src="https://user-images.githubusercontent.com/1194257/65596422-1cef2080-df97-11e9-9abb-a225204d1805.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Hackerrank: Practice C++
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/output-of-c-program-set-1/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Learn C++
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/cpp-programming/examples"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: C++ Examples
                    </div>
                </div>
            </div>
        </section>

        <section id="java">
            <h2>Java</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.hackerrank.com/domains/java"><img
                                src="https://user-images.githubusercontent.com/1194257/65596422-1cef2080-df97-11e9-9abb-a225204d1805.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Hackerrank: Practice Java
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/java-tricky-output-questions/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Learn Java
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/java-programming/examples"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Java examples
                    </div>
                </div>
            </div>
        </section>

        <section id="python">
            <h2>Python</h2>
            <div class="row">
                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.hackerrank.com/domains/python/"><img
                                src="https://user-images.githubusercontent.com/1194257/65596422-1cef2080-df97-11e9-9abb-a225204d1805.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Hackerrank: Practice Python
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.geeksforgeeks.org/output-python-program-set-1/"><img
                                src="https://www.geeksforgeeks.org/wp-content/uploads/Clanguage-768x256.png"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        geeksforgeeks: Learn Python
                    </div>
                </div>

                <div class="sec-container">
                    <div class="big-container">
                        <a target="_blank" href="https://www.programiz.com/python-programming/examples"><img
                                src="https://www.programiz.com/sites/all/themes/programiz/assets/pc_logo.svg"
                                width="100%" height="300px"></a>
                    </div>
                    <div class="small-container">
                        Programiz: Python examples
                    </div>
                </div>
            </div>
        </section>

    </main>

    {{> footer }}
</body>

</html>